<!-- sidebar.component.html -->
<div class="sidebar">
    <ul class="sidebar-ul">
        <div>
            <li><button routerLink="/home" class="create-project">Create Project <span>+</span></button></li>
            <li><button class="side-menu-btn" routerLink="/home">Dashboard</button></li>
            <li><button class="side-menu-btn" routerLink="/about">About</button></li>
            <li><button class="side-menu-btn" routerLink="/services">Services</button></li>
            <li><button class="side-menu-btn" routerLink="/contact">Contact</button></li>
        </div>
        <div>
            <li><button routerLink="/home" class="create-project">Profile Settings <span></span></button></li>
        </div>
      
    </ul>
  </div>
  
