.login-1{
    margin-top:10%;
margin-left: 10%;
border-radius: 10px;
background-color: #c7c7c7;
}
.full-width{
    width: 100%;
}
.login-2{
    background: url('../login/asset/login-vector.png');
    height: 569px;
    border-radius: 10px;
    height: 595px;
}
.login-btn{
    background-color: #0d6efd66;
}
.login-1{
    background: url("../login/asset/login-background.png");
}